
{% block content%}
<div>
    <div>
        <h4>Create Your Post</h4>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <div>
                    <label>Add an image for your post</label>
                    <input type="file" name="post_image">
                </div>
                <div>
                    <label>Post Title</label>
                    <input type="text" placeholder="Add post title" name="title"  id="title">
                </div>
                <div>
                    <label for="body">Body</label>
                    <textarea name="body" placeholder="Add post body" id="body" row="4"></textarea>
                </div>       
                <div>
                    <button type="reset"><a href="home">Cancel</a></button>
                    <button type="submit"><a href="home">Create post</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}