{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
    <nav class="base-navbar">
        <a href="home"><h1 class="base-title">TechWitter</h1></a>

        <ul class="nav-list">
            <li><a href="create"><button>CREATE A POST</button></a></li>
            <li><a href="settings"><button>SETTINGS</button></a></li>
            <li><a href="logout"><button>LOGOUT</button></a></li>          
            </div>   
        </ul>  
    </nav>
<div>
    <div>
        <h4>Create Your Post</h4>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <div>
                    <label>Add an image for your post</label>
                    <input type="file" name="post_image">
                </div>
                <div>
                    <label>Post Title</label>
                    <input type="text" placeholder="Add post title" name="title" >
                </div>
                <div>
                    <label for="body">Body</label>
                    <textarea name="body" placeholder="Add post body" row="4"></textarea>
                </div>       
                <div>
                    <button type="reset"><a href="home">Cancel</a></button>
                    <button type="submit">Create post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>