{% include '../../base.html'%}
<div>
    view
    <div>
        <div>
            <h1>post</h1>
            {% if post %}
            <div>
                <small>
                    created on {{post.created_at}},
                    {% if post.author != current_user %}
                    <small>by {{ post.author }}</small>
                    {% endif %}
                </small>
                <div>
                    <img src="{{post.image.url}}"/>
                </div>
                <div>
                    <h1>{{post.title}}</h1>
                    <p>{{post.body}}</p>
            
                </div>
                <div>
                    <small>Likes: {{post.likes}}</small>
                </div>
            </div>
            {% endif %}
        </div>
        <div>
            <h2>comements</h2>
        </div>
        <div>
            <h3>Comment</h3>
            <div>
                <form method="post">
                    <div>
                        <label>title(optional)</label>
                        <input type="text" name="title" placeholder="Add title"/>
                    </div>
                    <div>
                        <label>
                        Comment
                        </label>
                        <textarea name="body" placeholder="Add comment"></textarea>
                    </div>
                    <div>
                        <label>upload image</label>
                        <input type="file"/>
                    </div>
                    <button type="submit">comment</button>
                </form>
            </div>
        </div>
    </div>
</div>