{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
    <h1>base</h1>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
                <li><h1>Authenticated Navbar</h1></li>
                <li><a href="logout"><button>LOGOUT</button></a></li>
                <li><a href="settings"><button>SETTINGS</button></a></li>
                <li><a href="create"><button>CREATE A POST</button></a></li>
                <div>
                    {% if user_profile and user_profile.avi.url %}
                        <img src="{{ user_profile.avi.url }}" alt="Profile Avatar"/>
                    {% endif %}
                    <h4>Hello {{ user_profile }}, welcome to your page</h4>
                </div>
            {% else %}
            <li><a href="logout"><button>LOGOUT</button></a></li>
                <li><a href="settings"><button>SETTINGS</button></a></li>
                <li><a href="create"><button>CREATE A POST</button></a></li>
                <li><h1>Not Authenticated Navbar</h1></li>
                <li><a href="login">LOGIN</a></li>
                <li><a href="register">REGISTER</a></li>
            {% endif %}
        </ul>
    
        <div>
            {% if user_profile and user_profile.avi.url %}
                <img src="{{ user_profile.avi.url }}" alt="Profile Avatar"/>
            {% endif %}
            <h4>Hello {{ user_profile }}, welcome to your page</h4>
        </div>
    </nav>
    
    {% endblock%}
</body>
</html>