*{
    background-color: navajowhite;
}
.base-navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.base-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
    font-style: italic;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-list li {
    display: inline-block;
    margin-right: 15px;
}

.nav-list li h1 {
    font-size: 18px;
    color: #333;
}

.nav-list li a {
    text-decoration: none;
    color: #007bff; /* Link color */
}

.nav-list li a button {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-list li a button:hover {
    background-color: #0056b3; /* Darker on hover */
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes the avatar round */
    object-fit: cover;
}

.profile-info h4 {
    font-size: 16px;
    color: #333;
    margin: 0;
}

@media (max-width: 768px) {
    .base-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .profile-info {
        margin-top: 10px;
    }
}

/* home */