{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
    <nav class="base-navbar">
        <a href="home"><h1 class="base-title">TechWitter</h1></a>
        <ul class="nav-list">
            <li><a href="create"><button>CREATE A POST</button></a></li>
            <li><a href="settings"><button>SETTINGS</button></a></li>
            <li><a href="logout"><button>LOGOUT</button></a></li>  
        </ul>  
    </nav>
<div>
    <div>
        <h4>General</h4>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <div>
                    <label for="about">About Me</label>
                    <textarea name="bio" id="about" row="4">{{user_profile.bio}}</textarea>
                </div>
                <div>
                    <label>Location</label>
                    <input type="text" name="location" value="{{user_profile.location}}">
                </div>
                <div>
                    <label>Profile Image</label>
                    {% if user_profile.avi.url != ''%}
                    <img src="{{user_profile.avi.url}}" width="127" height="127"/>
                    <input type="file" name="avi">
                    {% else %}
                    <input type="file" name="avi">
                    {% endif %}
                </div>
                <div>
                    <button type="reset"><a href="home">Cancel</a></button>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>