{% include './base.html'%}
{% block content%}
<div>
    <div>
        <h4>General</h4>
        <div>
            <form method="post">
                <div>
                    <label>First Name</label>
                    <input type="text" name="first" placeholder="First Name">
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" name="last" placeholder="Last Name">
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter email">
                </div>
                <div>
                    <label>About Me</label>
                    <input type="textarea" name="bio" placeholder="">
                </div>
                <div>
                    <label>Location</label>
                    <input type="text" name="location" placeholder="">
                </div>
                <div>
                    <label>Working At</label>
                    <input type="text" name="job" placeholder="">
                </div>
                <div>
                    <label>Relationship</label>
                    <select>
                        <option>None</option>
                        <option>2s</option>
                    </select>
                </div>
                <div>
                    <button type="reset">cancel</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}