.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid black;
}

.card .body .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card .body .title .image-container .image{
    /* to be added */
    background: red;
}
.card .body .title .image-container .details{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-self: center;
    /* margin-top:2rem; */
    font-size: small;
    /* background: green; */
}
.card .body .title .image-container .details .info{
    font-size: 2rem;   
}
.card .body .title .image-container .details .info.btm{
    font-weight:200;
}

.card .body .post-body{
    font-size: 2rem;
}
.card .body .post-reaction{
    display: flex;
    flex-direction:row;
}

.card .body .post-reaction .like-icon{
    /* color: orange; */
    /* background: green; */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 75%;
    padding:2px;
    margin:3px;
    color: green;
}

.card .body .post-reaction .post-reaction-info{
    font-size: 1rem;
}

.card .footer{
    display: flex;
    /* background: whitesmoke; */
    width:50%;
    justify-content: space-between;
    /* border: 1px solid green; */
    border-radius: 5px;
}

.card .footer .post-misceleneous{
    display: flex;
    flex-direction:row;
}

.card .footer .post-misceleneous .footer-like-outlined-icon{
    width: 24px;
    height: 24px;
    padding: 2pc;
    font-size: 20px;
    /* color: boolean(post.liked? #0d6efd : #c4c4c4) */
}
.card .footer .comment-box-trigger{
    display: flex;
    flex-direction: row;
}
.card .footer .comment-box-trigger .comment-icon{
    width: 24px;
    height: 24px;
    padding: 2px;
    font-size: 20px;
    color: green;
}

.dropdown-item{
    color: black;
}
.dropper{
    background: green;
}

.post-card {
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 16px;
    height: fit-content;
}
/* .post-card .body .title{
    width: 50%;
    color: green;
} */
