.card {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 10px;
}

.card .body .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card .body .title .image-container .image{
    /* to be added */
    background: red;
}
.card .body .title .image-container .details{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-self: center;
    margin-top:2rem;
}
.card .body .title .image-container .details .info{
    font-size: 6rem;   
}
.card .body .title .image-container .details .info.btm{
    font-weight:200;
}
.card .body .post-body{
    font-size: 8rem;
}
.card .body .post-reaction{
    display: flex;
    flex-direction:row;
}

.card .body .post-reaction .like-icon{
    color: #fff;
    background: #0d6efd;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 75%;
    padding:2px;
    margin:3px;
}

.card .body .post-reaction .post-reaction-info{
    font-size: 6rem;
}

.card .footer{
    display: flex;
    background: whitesmoke;
    width:80%;
    justify-content: space-between;
}

.card .footer .post-misceleneous{
    display: flex;
    flex-direction:row;
}

.card .footer .post-misceleneous .footer-like-outlined-icon{
    width: 24px;
    height: 24px;
    padding: 2pc;
    font-size: 20px;
    /* color: boolean(post.liked? #0d6efd : #c4c4c4) */
}