{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
    <nav class="base-navbar">
        <a href="home"><h1 class="base-title">TechWitter</h1></a>

        <ul class="nav-list">
            <li><a href="create"><button>CREATE A POST</button></a></li>
            <li><a href="settings"><button>SETTINGS</button></a></li>
            <li><a href="logout"><button>LOGOUT</button></a></li>
            <div class="profile-info">
                {% if user_profile and user_profile.avi.url %}
                    <img src="{{ user_profile.avi.url }}" alt="Profile Avatar" class="nav-avi"/>
                {% endif %}
                <h4>Hello {{ user_profile }}, welcome to your page</h4>
            </div>   
        </ul>  
    </nav>
    
<div class="home-container">
    
{% if not post_object %}
    <h1>No post available, <a href="create">click here to create a new post</a></h1>
{% else %}
    {% for post in post_object reversed %}
    <div>
        <a href="/view?post_id={{post.id}}">
            <div>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post image" class="image_from_post"/>
            {% endif %}
            </div>
            <div>
                <h3>{{ post.title }}</h3>
            </div>
            <div>
            {% if post.author != current_user %}
                <small>by {{ post.author }}</small>
            {% endif %}
            <small>on {{ post.created_at }}</small>
            <small>likes: {{ post.likes }}</small>
            </div>
        </a>
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock%}
</body>
</html>