{% include '../../base.html'%}
{%block content%}
<div>
    <div>
        {% if message in messages %}
        <h4>{{message}}</h4>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="">
            <label>Email or Username</label>
            <input type="text" name="emailname" placeholder="Enter username or email"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>Reemember Me</label>
            <span><a href="reset">FORGOT YOUR PASSWORD</a></span>
        </div>
        <button type="submit">LOGIN</button>
    </form>

    <h5>Don't have an account? <span><a href="register">REGISTER</a></span></h5>
</div>
{%endblock%}