{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
<div class="auth-container">
    <div>
        {%for message in messages%}
        <h4>{{message}}</h4>
        {%endfor%}
    </div>
    <div>
    <form method="POST">
        {% csrf_token %}
        <div class="">
            <label>Email or Username</label>
            <input type="text" name="emailname" placeholder="Enter username or email"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>Reemember Me</label>
            <span><a href="reset">FORGOT YOUR PASSWORD</a></span>
        </div>
        <button type="submit">LOGIN</button>
    </form>

    <h5>Don't have an account? <span><a href="register">REGISTER</a></span></h5>
</div>
</div>
{%endblock%}
</body>
</html>