{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
    <nav class="base-navbar">
        <a href="home"><h1 class="base-title">TechWitter</h1></a>
        <ul class="nav-list">    
                <li><a href="login">LOGIN</a></li>
                <li><a href="register">REGISTER</a></li>
        </ul>
    </nav>
<div>
    <div>
        {%for message in messages%}
        <h4>{{message}}</h4>
        {%endfor%}
    </div>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email"/>
        </div>
        <div>
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password"/>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="confirm password"/>
        </div>
        <div>
            <input type="checkbox"/>
            <label>I Accept terms and conditions</label>
        </div>
        <button type="submit">Register</button>
    </form>
    <h5>Have an account? <span><a href="login">LOGIN</a></span></h5>
</div>
{%endblock%}
</body>
</html>