{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {% if title %}
    <title>{{title}} - TechWitter</title>
    {%else%}
    <title>TechWitter</title>
    {%endif%}
</head>
<body>
    {% block content%}
   <div class="auth-container">
<h1  class="auth-warning">ACTION NOT SUPPORTED, PLEASE REMEMBER YOUR PASSWORD</h1>
</div>
{% endblock %}
</body>
</html>